<div id="job_actions">
    <h3>Admin </h3>
        <ul>
            {% if not job.isActivated %}
                <li><a href="{{ path('alyya_job_edit', {'token' : job.token}) }}">Edit</a></li>
                <li>
                    {{ form_start(publish_form) }}
                        {{ form_widget(publish_form) }}
                    <button type="submit">Publish</button>
                    {{ form_end(publish_form) }}
                </li>
            {% endif %}
            <li>
                {{ form_start(delete_form) }}
                {{ form_widget(delete_form) }}
                <button type="submit" onclick="if(!confirm('Are you sure?')) { return false; }">Delete</button>
                {{ form_end(delete_form) }}
            </li>
            {% if job.isActivated %}
                <li {{ job.expiresSoon ? 'class="expires_soon"' : '' }}>
                    {% if job.isExpired %}
                        Expired
                    {% else %}
                        Expires in <strong> {{ job.getDaysBeforeExpires  }}</strong>
                    {% endif %}
                    {% if job.expiresSoon %}
                        <form action="{{ path('alyya_job_extend', {'token' : job.token}) }}" method="post">
                            {{ form_widget(extend_form) }}
                            <button type="submit">Extend</button>for another 30 days
                        </form>
                    {% endif %}
                </li>
            {% else %}
                [Bookmark this <a href="{{ url('alyya_job_preview',{'company' : job.getCompanySlug ,'location' : job.getLocationSlug , 'token' : job.token , 'position' : job.getPositionSlug }) }}">Url</a> to manage this job in the future
            {% endif %}

        </ul>

</div>