{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/alyyajobeet/css/jobs.css')}}" type="text/css" media="all" />
{% endblock %}

{% block body %}
    <div id="jobs">
        {% for category in categories %}
            <div>
                <div class="category">
                    <div class="feed">
                        <a href="">Feed</a>
                    </div>
                    <h1><a href="{{ path('alyya_category_show',{'slug':category.slug}) }}">{{ category.name }}</a></h1>
                </div>
            </div>
            {{ include ('job/list.html.twig', {'jobs': category.activejobs}) }}
            {% if category.morejobs %}
                <div class="more_jobs">
                    and <a href="{{ path('alyya_category_show',{'slug':category.slug}) }}"> {{  category.morejobs }} </a> more ...
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
