{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/alyyajobeet/css/job.css') }}" type="text/css" media="all" />
{% endblock %}
{% block body %}

    {% if app.request.get('token') %}
        {{ include('job/admin.html.twig', {'token' : app.request.get('token')}) }}
    {% endif %}
   <div id="job">
       <h1>{{ job.company }}</h1>
       <h2>{{ job.company }}</h2>
       <h3>
           {{ job.position }}
            <small>-{{ job.type }}</small>
       </h3>
       {% if job.logo %}
           <div class="log">
               <a href="{{ job.url }}">
                   <img src="{{ asset('uploads/jobs/'~job.logo) }}" alt="{{ job.company }} logo "/>
               </a>
           </div>
       {% endif %}
       <div class="description">
           {{ job.description | nl2br }}
       </div>
       <h4>How to apply ?</h4>
       <div class="meta">
           <small>posted on{{ job.createdat|date('m/d/Y') }}</small>
       </div>


   </div>
{% endblock %}
